<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <h3>- Nrup Hajari</h3>
    <h4>+91 94xxxxxxx9</h4>
    <h4>nrup****@gmail.com</h4>
<%- include("partials/footer"); -%>
